div:has(> form > #search) {
  display: flex;
  justify-content: center;
}
form:has(> #search) {
  display: flex;
  align-items: center;

  translate: 0 -60%;

  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  padding: 1rem 1.5rem;

  border: 4px solid black;
  border-radius: 1rem;
  box-shadow: 4px 4px 0 black;

  transition-duration: 200ms;
  z-index: 1000;
}
form:has(> #search:focus) {
  box-shadow: 0 0 0 black;
  border-radius: 0;
}
form:has(> #search:hover, > #searchIco:hover) {
  border-radius: 0;
}

#searchIco {
  all: unset;
  background-color: #8be8cb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;

  margin: -0.75rem -1.25rem;
  margin-left: 0;

  border-radius: 0.5rem;
  border: 4px solid black;
  transition-duration: 200ms;
}
#searchIco:hover {
  border-radius: 0;
  cursor: pointer;
}
#searchIco > img {
  height: 1rem;
}

#search {
  all: unset;
}

#projects {
  padding: 2rem;
  padding-top: 0;
}

.project {
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  padding: 1.5rem 1rem;
  border: 4px solid black;
  color: black;

  box-shadow: 4px 4px 0 black;
  background-color: white;
  border-radius: 1rem;
  transition-duration: 200ms;
}

.project:hover {
  border-radius: 0;
  box-shadow: 0 0 0 black;
}

.project .title {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.project + .project {
  margin-top: 1rem;
}

#noFound {
  display: flex;
  justify-content: center;

  font-weight: bold;
}
