body {
  background-color: black !important;
}

#header {
  height: 100vh;
}

h1 span {
  display: block;
}

#hero p {
  font-weight: bold;
  font-size: 1.25rem;
}

#logoAnim {
  display: flex;
  position: absolute;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
  z-index: 0;

  font-size: 5rem;
}

#logoAnim > span {
  display: block;
}
#logoAnim > #cursor {
  position: absolute;
  right: -2.25rem;
  font-family: monospace;
}
